/* This file is for your main application CSS */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

html, body {
  overflow: hidden;
}

body {
  position: relative;
}

.next-prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.my-modal {
  position: fixed;
  top: -80vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  max-height: 80vh;
  width: 80vh;
  z-index: 1055;
  background-color: #ffffff;
  border-radius: 0.3rem;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;
  transition-property: opacity, top;
  transition-duration: 0.5s;
}

.my-modal:is(.show) {
  top: 10%;

  opacity: 1;
  pointer-events: auto;
}

.my-modal-body {
  overflow-y: auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.my-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  background-color: #00000000;
  pointer-events: none;
  transition-property: background-color;
  transition-duration: 0.25s;
}

.my-modal-backdrop:is(.show) {
  pointer-events: auto;
  background-color: #0000007f;
}
